.form{
  height: 80vh;
   /*width: 23rem;*/
  /* gap: 1rem; */
  /* padding: 1rem; */
  /* margin-top: 2rem; */
  /* height: calc(100vh -86px); */
}

.form input:valid {
  background-color: rgb(138, 236, 113);
}

.cardDark{
  background-color: #31313196;
}

.inputSpacing+.inputSpacing{
  margin: 1rem 0;
}

.buttonForm {
  background-color: #10ceae;
  transition: 0.4s ease-in-out;
  font-weight: bold;
  color: white;
}

.buttonForm:hover {
  background-color: #17be11e5;
  transform: scale(1.10);
  font-weight: bold;
}