.cardDark{
  background-color: #31313196;
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.favButton{
  width: 100%;
  transition: 0.4s ease-in-out;
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.CardBody{
  width: 100%;
  background-color: #10ceae;
}

.title{
  height: 2rem;
  color: #222222;
  transition: 0.4s ease-in-out;
  text-decoration: none;
}

.title:hover{
  color: #111111;
   transform: scale(1.10);  
}