.cardDark{
  background-color: #31313196;
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.button{
  margin-top: 2rem;
  background-color: #10ceae;
  transition: 0.4s ease-in-out;
  text-decoration: none;
  font-weight: bold;
}

.button:hover {
  background-color: #17be11e5;
  transform: scale(1.10);
  font-weight: bold;
}